* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.facts text eol=lf
*.zone text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.pdf binary
*.png binary
*.tiff binary
